<h2>All Posts</h2>
{{#linkTo 'posts.new'}}Add a post{{/linkTo}}

<ul>
  {{#each post in controller}}
    <li>
      {{#linkTo 'post' post}}
        {{post.title}}
      {{/linkTo}}
    </li>
  {{else}}
    <li class="empty">There are no posts.</li>
  {{/each}}
</ul>

{{outlet}}

